<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/style/bootstrap.css}">
<link rel="stylesheet" th:href="@{/style/fonts-awesome.min.css}">
<link rel="stylesheet" th:href="@{/style/main.css}">
<head>
    <meta charset="UTF-8">
    <title>Войдите в аккаунт</title>
</head>
<body>
<h2>Войдите в аккаунт</h2>
<form th:action="@{/signIn}" th:object="${signInForm}" method="post">
    <div class="form-group">
        <label class="control-label col-sm-3" for="username">E-mail</label>
        <div class="controls col-sm-9">
            <input id="username" name="username" class="form-control" type="text" th:field="*{login}" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password">Password</label>
        <div class="controls col-sm-9">
            <input id="password" name="password" class="form-control" type="password" th:field="*{password}" required/>
        </div>
    </div>
    <button type="submit" class="buttons">Sign in</button>
</form>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<link rel="stylesheet" th:href="@{/style/bootstrap.css}">-->
<!--<link rel="stylesheet" th:href="@{/style/fonts-awesome.min.css}">-->
<!--<link rel="stylesheet" th:href="@{/style/main.css}">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Регистрация</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Регистрация</h2>-->
<!--<form th:action="@{/signUp}" th:object="${signInForm}" method="post">-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-sm-3" for="username">E-mail</label>-->
<!--        <div class="controls col-sm-9">-->
<!--            <input id="username" name="username" class="form-control" type="text" th:field="*{login}" required/>-->
<!--        </div>-->
<!--    </div><div class="form-group">-->
<!--    <label class="control-label col-sm-3" for="password">Password</label>-->
<!--    <div class="controls col-sm-9">-->
<!--        <input id="password" name="password" class="form-control" type="password" th:field="*{password}" required/>-->
<!--    </div>-->
<!--    &lt;!&ndash;</div><div class="form-group">&ndash;&gt;-->
<!--    &lt;!&ndash;    <label class="control-label col-sm-3" for="password">Password again</label>&ndash;&gt;-->
<!--    &lt;!&ndash;    <div class="controls col-sm-9">&ndash;&gt;-->
<!--    &lt;!&ndash;        <input id="password2" name="password2" class="form-control" type="password" value=""/>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div><button type="submit" class="buttons">Sign up</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->






